* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block1 {
    width: 100px;
    height: 130px;
    background-color: green;
}

.block2 {
    width: 130px;
    height: 150px;
    background-color: red;
}

.block3 {
    width: 140px;
    height: 210px;
    background-color: yellow;
}

.block4 {
    width: 160px;
    height: 240px;
    background-color: blue;
}

.container {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    flex-wrap: wrap;
    height: 1500px;
    align-content: flex-start;
}